data/*
**__pycache__**
.claude
.vscode
*.DS_Store
*.pt
training/contrastive/*/cached_embeddings/
models/*
results/**/*.parquet
results/eval/interpretability/**/*.nii.gz
results/eval/interpretability/**/*.npz
